<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Untitled Document</title>
</head>

<body>
<table  align="center" width="200" >
  <tr>
    <td>Id</td>
    <td>Title</td>
    <td>Description</td>
  </tr>
  {% if objval %}
        {% for ob in objval %}
        <tr>
            <td>{{ ob.id }}</td>
            <td>{{ ob.title }}</td>
            <td>{{ ob.description }}</td>
  <td><a href="{% url 'delete' idd=ob.id %}">Delete</a> </td>


        </tr>
        {% endfor %}
        {% endif %}

</table>
</body>
</html>
